* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero-section {
  height: 100vh;
  padding-top: 15rem;
  background-color: transparent;
  z-index: -1;
}
.hero-section .flex-hero {
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.hero-section .flex-hero h1 {
  font-size: 65px;
  font-weight: 900;
}
.text-gradient {
  background: linear-gradient(45deg, #2190ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section h4 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  padding: 12px 14rem;
  color: #969ba5;
}

.hero-section .button {
  padding: 0.7rem 2rem;
  border-radius: 25px;
  background-color: #2190ff;
  color: #fff;
  border: 1px solid transparent;
  width: 15%;
  margin-top: 15px;
}

.hero-section div:nth-child(2) {
  margin-top: 4rem;
}

.hero-section .image {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.button:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 980px) {
  .hero-section h1 {
    text-align: center;
  }
  .hero-section {
    padding-top: 12rem;
  }
  .hero-section h4 {
    font-size: 21px;
    text-align: center;
    padding: 0px 4rem;
  }
  .image {
    width: 500px;
  }
  .hero-section .button {
    margin-top: 15px;
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .hero-section h1 {
    font-size: 35px;
  }

  .hero-section {
    padding-top: 10rem;
  }
  .hero-section h4 {
    font-size: 16px;
    padding: 0px 2rem;
  }
}
