.location-search-box {
  display: flex;
  align-items: center;
  width: 286px;
  position: relative;
}

.location-search-box > img {
  border: 1px solid #ddd;
  border-right: none;
  height: 40px;
  padding-left: 5px;
}

.search-location-input-box {
  height: 40px;
  width: 100%;
  padding: 6px 20px 5px 10px;
  border: 1px solid #ddd;
  border-left: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}

.search-location-input-results {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-top: 2px;
  border: 1px solid #555;
}

.search-location-result-item {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 12px;
  column-gap: 14px;
  cursor: pointer;
  text-align: left;
}

.search-location-result-item > span:nth-of-type(1) {
  border: 1px solid #f0f0f5;
  border-radius: 50%;
  padding: 8px;
  background-color: #f0f0f5;
}

.search-location-result-item > span:nth-of-type(2) > div:nth-of-type(1) {
  color: #414146;
  font-size: 14px;
}

.search-location-result-item > span:nth-of-type(2) > div:nth-of-type(2) {
  color: #787887;
  font-size: 12px;
}

.search-location-result-item:hover {
  background-color: #f0f0f5;
}

.doctor-search-box {
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 - 1px 0 0 inset;
  border-radius: 5px;
}

.doctor-search-box > img {
  border: 1px solid #ddd;
  border-right: none;
  height: 40px;
  padding-left: 5px;
}

.search-doctor-input-box {
  height: 40px;
  width: 100%;
  padding: 6px 20px 5px 10px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(59, 58, 58);
}

.findiconimg {
  width: 40px;
  left: 0;
  background-color: rgb(239, 234, 234);
  height: 40px;
  border: 1px solid rgb(59, 58, 58);
  z-index: -99;
}
.search-doctor-input-results {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 420px;
  margin-top: 2px;
  border: 1px solid #555;
}

.search-doctor-result-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 12px;
  column-gap: 14px;
  cursor: pointer;
  text-align: left;
  margin-top: 0;
  border-radius: 0;
}

.search-doctor-result-item:hover {
  background-color: #f0f0f5;
}

.search-doctor-result-item > span:nth-of-type(1) {
  border: 1px solid #f0f0f5;
  border-radius: 50%;
  padding: 8px;
  background-color: #f0f0f5;
}

.search-doctor-result-item > span:nth-of-type(2) {
  font-size: 14px;
  color: #414146;
}

.search-doctor-result-item > span:nth-of-type(3) {
  font-size: 11px;
  flex-grow: 1;
  color: #787887;
  text-align: right;
  text-transform: uppercase;
  justify-self: flex-end;
}
.home-search-container {
  /* width: 712px; */
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.finddoctor {
  /* height: 0 auto; */
  overflow: hidden;
}

.finddoctor h1 {
  color: #1e0e62;
  font-weight: 600;
}

.finddoctor input {
  padding: 24px;
  border-radius: 100px;
  border: 1px solid #ebeaed;
  font-size: 14px;
  width: 25em;
}
.finddoctor .mainimg {
  width: 312px;
  height: 312px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.search-button {
  width: 120px;
  padding: 16px 0px;
  margin-top: 0px;
  margin-left: 8px;
  background: #0088ff;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 0px;
}

.search-button:hover {
  background: #2b7cc3;
}
