.doctor-card {
  width: 350px;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  margin: 1.5em;
  margin-bottom: 20px;
}

.doctor-card-container {
  width: 350px;
  height: 20em;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.doctor-card-container-modal {
  width: 350px;
  border: 4px solid #0088ff;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 10px;
}

.cancel-appointment {
  background-color: red;
}

.doctor-card-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.doctor-card-profile-image-container {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.doctor-card-profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.doctor-card-details {
  display: flex;
  justify-content: space-between;
}

.doctor-card-detail-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
  color: #1e0e62;
}

.doctor-card-detail-speciality {
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgba(21, 20, 57, 0.4);
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.doctor-card-detail-experience {
  font-size: 14px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.doctor-card-detail-location,
.doctor-card-detail-clinic,
.doctor-card-detail-consultationfees {
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}
.doctor-card-detail-consultationfees {
  font-weight: bold;
}

.book-appoinment-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.book-appoinment-btn div:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.doctorbg {
  display: flex;
  justify-content: space-between;
  -webkit-scrollbar {
    display: none;
  }
}
.modal-btn:hover {
  background-color: #0d8af5;
}

.cancel-appointment-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-appointment-btn:hover {
  background-color: #d63027;
}
.appointment-form {
  margin: 20px auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.btnslot {
  background-color: green;
  cursor: pointer;
  /* color: rgb(249, 60, 60); */
}

@media screen and (max-width: 1000px) {
  .doctorbg {
    flex-direction: column;
    align-items: center;
  }
  .doctor-card-container-modal {
    height: 20em;
    margin-bottom: 2em;
  }
}
