

/* Center container */
.login-container {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.signup-container {
  margin-top: 3em;
  width: 45vw;
}

/* Card */
.login-card {
  background: #ffffff;
  padding: 2.5em;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signup-container > .login-card {
  padding: 1em 2.5em;
}

.login-card h2 {
  color: #1e0e62;
  font-size: 32px;
}

/* Input fields */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.input-group label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 550;
  color: #1e0e62;
  margin-bottom: 8px;
  font-size: 12px;
}

.input-group input {
  padding: 14px;
  border-radius: 100px;
  border: 1px solid #ebeaed;
  font-size: 14px;
}

.input-group ::placeholder {
  color: #ebeaed;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #0088ff;
}

.custom-select {
  position: relative;
}

.selected {
  padding: 14px;
  border-radius: 100px;
  border: 1px solid #ebeaed;
  font-size: 14px;
  cursor: pointer;
}

.options {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 8px;
  margin-top: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.options li {
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
}

.options li:hover {
  background: #f2f6fc;
  border-radius: 8px;
  color: #0088ff;
}

.custom-select.open .options {
  display: block;
}

.toggle-select {
  font-size: 24px !important;
  position: absolute;
  right: 14px;
  top: 15px;
  cursor: pointer;
  color: #1e0e62;
  user-select: none;
  transition: transform 0.3s ease;
}

.custom-select.open .toggle-select {
  transform: rotate(180deg);
}

.success-popup {
  position: fixed;
  bottom: 30px;
  left: 20px;
  background: #34c759;
  color: white;
  padding: 14px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.4s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message {
  color: #ff383c;
  font-size: 12px;
  margin-top: 8px;
}

.input-error {
  border-color: #ff383c;
}

/* Password field */
.password-group {
  position: relative;
}

.toggle-password {
  font-size: 20px !important;
  position: absolute;
  right: 18px;
  top: 40px;
  cursor: pointer;
  color: #1e0e62;
  user-select: none;
}

/* Login button */
.login-button {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background: #0088ff;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 1em;
}

.login-button:hover {
  background: #2b7cc3;
}

.login-button:disabled {
    background: #2b7cc3;
    cursor: not-allowed;
}

/* Links */
.links {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba(21, 20, 57, 0.4);
}

.links a {
  text-decoration: none;
  color: #0088ff;
  font-weight: 600;
}

.links button {
  border: none !important;
  background-color: transparent;
  padding: 0 !important;
}

.links a:hover {
  text-decoration: underline;
}

.links-right {
  justify-content: flex-end;
}

.links-center {
  justify-content: center;
}

.links-center button{
  color: #ff383c !important;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-flex > .input-group {
  width: 49%;
}

@media screen and (max-width: 1000px) {
  .login-container {
    width: 80vw;
    margin-top: 5em;
  }

  .display-flex {
    display: block;
  }

  .display-flex > .input-group {
    width: 100%;
  }

  .navbar {
    background-color: #ffffff;
  }
}
