.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Blobs */
.flex-hero .blob-cont {
  justify-content: center;
  align-items: center;
  position: static;
  margin: 10px;
}

.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.blue {
  background-color: #2937a392;
  position: absolute;
  top: 0;
  left: 0;
  right: 55%;
  bottom: 25%;
  margin: auto;
  height: 150px;
  width: 200px;
  animation: blobani 8s infinite ease;
}
.blue1 {
  background-color: #2937a392;
  position: absolute;
  top: 0;
  left: 0;
  right: -55%;
  bottom: -25%;
  margin: auto;
  height: 150px;
  width: 200px;
  animation: blobani 8s infinite ease;
}

@keyframes blobani {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  30% {
    top: 0;
    left: 0;
    transform: scale(1.2);
  }
  60% {
    top: 0;
    left: 0;
    transform: scale(1.3);
  }
  100% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #333;
}

h1,
h2 {
  line-height: 1.3;
  margin: 15px 0;
}

button {
  transition: all 0.5s ease-in-out;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

button,
a,
li {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.main-container {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f6fc;
}

.content {
  padding-top: 8em;
  padding-bottom:2em ;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

.material-symbols-small {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

.text-button {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  color: #0088ff;
  font-weight: bold;
  font-size: 14px;
  width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  caret-color: black; 
}



@media screen and (max-width: 1000px) {
  .main-container {
    margin-top: 70px;
  }
}
